

<div class="hero">

    {% include 'nav.njk' %}

    <div class="container">
        <div class="row d-flex align-items-center">
        <div class="hero-title col-6">
            <h1>O seu Pet vai adorar os produtos PraPet!</h1>
            <p class="mb-4">Produzimos produtos personalizados, confortáveis e estilosos para o seu Pet. Aqui você encontra peças divertidas e cheias de personalidade para cuidar do seu companheiro e também decorar a sua casa!</p>

            <button class="b-yellow btn btn-lg">Fale Conosco</button>
        </div>
        <div class="hero-img col-6 align-items-center d-flex justify-content-center"> 
            <img class="hero-foto" src="/assets/images/dog-MainBanner.png" alt="">
        </div>
        </div>
    </div>
</div>