<div class="container-fluid hw">
    <div class="container ">
        
        <span>Feitos Sob Encomenda</span>
        <h2>Como Funciona</h2>
        <div class="hw-steps">

            <div class="hw-step">
                <img src="/assets/images/step0.svg" alt="">
                <p>Escolha o seu produto</p>
            </div>

            <div class="hw-step">
                <img src="/assets/images/step01.svg" alt="">
                <p>Selecione sua estampa preferida</p>
            </div>

            <div class="hw-step">
                <img src="/assets/images/step02.svg" alt="">
                <p>Preencha os dados e finalize a compra</p>
            </div>

            <div class="hw-step">
                <img src="/assets/images/step03.svg" alt="">
                <p>O produto será entregue no seu endereço</p>
            </div>

            <div class="hw-step">
                <img src="/assets/images/step04.svg" alt="">
                <p>Seu Pet vai amar o presente!</p>
            </div>

            
        </div>
    </div>
</div>