<div class="container">
    <h1>Produtos</h1>
    <div class="prod-list">
        {%- for prods in collections.prods -%}
            
                <div class="produto-card d-flex flex-column ">
                    
                        <div class="foto">
                            <img src="{{ prods.data.fotoProd }}" alt="">
                        </div>
                        
                        <div class="card-info d-flex flex-column justify-content-between flex-grow-1">
                            <div class="mb-4">
                                <a href="{{ prods.url }}">
                                    <h4 class="card-title">{{ prods.data.nome }}</h4>
                                    <span>R$ {{ prods.data.preco }}</span>
                                    <!-- <p>{{ prods.data.descricao }}</p> -->
                                </a>
                            </div>

                            <button class="btn b-yellow comprar mt-auto">
                                <a href="{{ prods.url }}">Comprar</a>
                            </button>

                        </div>    
  
                </div>
            

        {%- endfor -%}
    </div>
</div>