---
title: PraPet Teste
layout: 'base.njk'
---

<div class="container">
    <div class="prod-single">
        <div class="foto-single">
            <img src="{{ fotoProd }}" />
        </div>

        <div>
        <h1>{{ nome }}</h1>
        <p>{{ descricao }}</p>
        {{ content | safe }}
        <hr>
        <h3>R$ {{ preco }}</h3>
        <button><a href="#">Comprar</a></button>

        
        </div>
    </div>
</div>

