---
title: PraPet Teste
layout: 'base.njk'
---
{% include 'nav.njk' %}

<div class="container my-5">
    <div class="prod-single row">
        <div class="foto-single col-5">
            <img src="{{ fotoProd }}" />
        </div>

        <div class="col-7 single-prod">
            <h1>{{ nome }}</h1>
            <h3 class="single-preco">{{ preco }}</h3>
            <hr>


            



            <div class='single-desc mt-4'>
                <h5>Descrição</h5>
            </div>
            {{ content | safe }}

            

            <div class="mb-5">
                <h5>{{opcaoNome}}</h5>
                <p>{{variacao}}</p>
                {% if opcoes %}
                    <select>
                        {% for opcoes in opcoes %}
                        <option value="{{opcoes}}">{{opcoes}}</option>

                        {%- endfor -%}
                    </select>
                {% endif %}
            </div>
            
            <button class="btn btn-lg b-yellow">Comprar</button>
        </div>
    </div>
    
</div>

{% include 'produtos-lista.njk' %}
