<div class="container">

    div.
        <h1>Produtos</h1>
        
        <div class="prod-list d-flex">
 
            {%- for prods in collections.prods -%}
                <a href="{{ prods.url }}">
                <div class="produto-card">
                    <div class="foto">
                        <img src="{{ prods.data.fotoProd }}" alt="">
                    </div>
                    <h1>{{ prods.data.nome }}</h1>
                    <span>R$ {{ prods.data.preco }}</span>
                    <p>{{ prods.data.descricao }}</p>
                   <button><a href="{{ prods.url }}"> Comprar </a></button>
                </div>
                </a>
            {%- endfor -%}
    </div>