html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    

}








.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;

}

.prod-single{
    display: flex;

}



.foto-single img{
    margin-right: 2rem;
}

.foto-single img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
}

img{
    width: 100%;
    
}