// MAIN COLOURS

$primary: #0267ba;
$secondary: #ffcc36;

// BREAKPOINTS
$bp-mobile: 450px;
$bp-tablet: 960px;

// SPACING
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 3rem;

//container

$c-desktop: 1200px